body {
    font-family: "Poppins";
    background-color: #004d00;
    align-content: center;
}

.box-border {
    border-style: solid white;
    border-radius: 10px;
    box-shadow:1px 5px 15px white;
    background-color: ivory;
    width: 650px;
    margin: 56px auto;
}

.nameHeader {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    color: #008000;
    padding-top: 0.5em;
}

.bonus-text {
    display: block;
    grid-column: 5;
}

.bonus-text {
    grid-column: 6;
    pointer-events: none;
}

.total-text {
    display: block;
    grid-column: 5;
}

.total-text {
    grid-column: 6;
    pointer-events: none;
}

input {
    width: 45px;
}

.box {
    border: 1px dashed green;
    border-radius: 10px;
    display: grid;
    grid-gap: 10px;
    margin: 25px auto;
    padding: 25px;
    width: 550px;
    align-items: center;
}

.dice-container {
    border-radius: 10px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

@media (max-width: 768px) {
    .dice-container {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .dice-container>div {
        width: 30%;
        margin: 5px;
    }
}

.hold-points {
    background-color: lightgray;
}

.points-container {
    grid-template-columns: repeat(2, 100px) repeat(4, 50px);
    grid-template-rows: repeat(15, 20px);
    font-weight: bold;
}

.point-label {
    display: block;
    grid-column: 1;
    box-shadow: 1px 0px 14px #004d0064;
    border-radius: 6px;
    text-align: center;
}

.point-text {
    display: block;
    grid-column: 9;  
}


.buttonWrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.hold-dice {
    opacity: 60%;
}


#button {
    grid-column: 5;
}

#button button {
    height: 50px;
    width: 100px;
}

#end-turn button {
    height: 50px;
    width: 100px;
}

#end-game button {
    height: 50px;
    width: 100px;
}

#dice-1 {
    grid-column: 1;
}

#dice-2 {
    grid-column: 2;
}

#dice-3 {
    grid-column: 3;
}

#dice-4 {
    grid-column: 4;
}

#dice-5 {
    grid-column: 5;
}

#label {
    grid-column: 1;
    padding: 20px;
    padding-left: 0;
    font-weight: bold;
}

#sum-text {
    pointer-events: none;
}